// VARIABLES
// ---------


// COLORS
// ------

$color--brand       : #2EACBA;
$color--brand--dark : #227D87;
$color--white       : #FFFFFF;
$color--black       : #000000;
$color--grey        : #4D4D4D;


// FONTS
// -----

$font--bree       : "Bree Serif", serif;
$font--montserrat : "Montserrat", sans-serif;
